label{
    font-size: var( --small-font-size);
    padding: 0 0.6rem;
}

.new{
    padding: 0.8rem;
    font-size: 0.8rem;
    background-color: var(--low-blue) ;
    color: var(--white);
    font-weight: var(--font-semibold);
    border-radius: 0.6rem;
    color: var(--white);
}

.new:hover{
    background-color: var(--blue);
}

.experience-form .title{
    padding: 1rem 0;
}

.experience-form h2{
    width: 100%;
    text-align: left;
}

.button-group{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.details{
    height: 10vh;
}

.Exp_form{
   width: 100%;
   display: grid;   
   grid-template-columns: 1fr;
}