.container{
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 2rem;
}

@media screen and (max-width: 1350px){
    .container{
      width: 100%;
      min-height: 100vh;
      grid-template-rows: 1fr 1fr;   
      grid-template-columns: 1fr;
      margin: 0 auto;
      place-content: center;
    }
}

@media only screen and (max-width: 800px) {
    .container{
        width: 100%;
        margin: 0 auto;
        place-content: center;
    }
    
}

@media only screen and (max-width: 375px) {
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        place-content: center;
    }
}

@media only screen and (max-width: 320px) {
    body{
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        display: grid;
        place-content: center;
    }
}